<ng-container *ngIf="courseState$ | async as state">
  <ng-container *ngIf="state.courses.length">
    <gmp-course-list-item *ngFor="let course of state.courses | orderBy" [course]="course"
        [gmpNewRelease]="course.date" (remove)="remove($event)" (edit)="edit($event)">
    </gmp-course-list-item>
  </ng-container>
  <div *ngIf="!state.courses.length" id="empty-courses">
    <span>NO DATA. FEEL FREE TO ADD NEW COURSE</span>
  </div>
  <div *ngIf="state.courses.length" id='load-more' (click)="loadMore()">
    <span>LOAD MORE</span>
  </div>
</ng-container>
