<div class="course-container">
  <div class="course-box">
    <h1>{{course ? course.name : 'New Course'}}</h1>
    <div class="text-row">
      <span class="text">Title:</span><span class="hint">*required</span>
    </div>
    <input [(ngModel)]="title" type="text" id="new-course-title" placeholder="Enter course title">
    <div class="text-row">
      <span class="text">Description:</span><span class="hint">*required</span>
    </div>
    <textarea [(ngModel)]="description" type="text" id="new-course-description" placeholder="Add description"></textarea>
    <div class="text-row new-course-duration">
      <span class="text">Duration:</span><span class="hint">*required</span>
    </div>
    <div class="duration-row">
      <gmp-course-duration></gmp-course-duration>
    </div>
    <div class=" new-course-date text-row">
      <span class="text">Date:</span><span class="hint">*required</span>
    </div>
    <gmp-course-date></gmp-course-date>
    <div class="text-row new-course-authors">
      <span class="text">Authors:</span><span class="hint">*required</span>
    </div>
    <gmp-course-author></gmp-course-author>
    <div class="actions">
      <button (click)="cancel()" class="cancel">Cancel</button>
      <button (click)="save()" class="save">Save</button>
    </div>
  </div>
</div>
