$pale-grey: #f2f3f7;
$header-color: #414452;
$white: #ffffff;

.header-container,
.footer-container {
  min-height: 64px;
  background-color: $header-color;
}

.footer-container {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 85px 0 0;
}

.page-container {
  background-color: $pale-grey;
  flex: 1;
}

.breadcrum-container {
  align-items: center;
  display: flex;
  min-height: 64px;
  margin: 0 0 0 85px;

  gmp-breadcrum {
    width: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
