<div class="container">
  <div class="course-container">
    <div class="course">
      <div><span class="title">{{course.title}}</span></div>
      <div class="time-container">
        <div>
          <i class="far fa-clock"></i>
          <span id="course-duration">{{getFormatDuration(course.duration)}}</span>
        </div>
        <div>
          <i class="far fa-calendar-alt"></i>
          <span id="course-date">{{course.creationDate | date: 'mediumDate'}}</span>
        </div>
      </div>
    </div>
    <div>
      <p id="course-description">{{course.description}}</p>
    </div>
  </div>
  <div class="actions">
    <button id="edit-item" (click)="edit()">
      <i class="fas fa-pen"></i><span> edit</span>
    </button>
    <button id='delete-item' (click)="delete()">
      <i class="fas fa-trash"></i><span> delete</span>
    </button>
  </div>
</div>
