<div class="login-container">
  <div class="login-box">
    <h1>Login</h1>
    <div class="text-row"><span class="text">E-mail</span><span class="hint">*required</span></div>
    <input [(ngModel)]="email" type="text" id="login-email" placeholder="Enter e-mail">
    <div class="text-row"><span class="text">Password</span><span class="hint">*required</span></div>
    <input [(ngModel)]="password" type="text" id="login-pass" placeholder="Enter password">
    <div class="actions">
      <a>Forgot Password?</a><button (click)="login()">Login</button>
    </div>
  </div>
</div>
